:root{
    --themeColor1 : #262626;
    --themeColor2 : #595959;
    --themeColor3 : #737373;
    --themeColor4 : #A6A6A6;
    --themeColor5 : #F2F2F2;
    --inputColor1 : #2c2c2c;
    --inputColor2 : #f8f8f8;
    --boxShadow: 1px 1px 2px 2px var(--themeColor4);
    --dropShadow: drop-shadow(2.5px 2.5px 5px var(--themeColor4));
/* } */
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-family: poppins;
    background-color: var(--themeColor5);
    overflow-x: hidden;
    /* background-color: pink; */
    width: 100vw;
}

/* Preloader div styling */
#preloader{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: var(--color2); */
    /* position: fixed; */
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 100;
    background-color: var(--themeColor5);
}

/* parent div of the animating balls in the preloader */
.ball-wrapper{
    display: flex;
    gap: 1px;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

/* preloader animated balls */
/* preloader animated balls */
/* preloader animated balls */
/* preloader animated balls */

.ball{ /*general css of all the balls*/
    width: calc(100vw / 28);
    height: calc(100vw / 28);
    border: calc(50VW / 125) solid var(--themeColor1);
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
}

/* styling first ball */
.ball:first-child{
    /* background-color: ; */
    animation-name: leftBall;
    width: calc(100vw / 20);
    height: calc(100vw / 20);

    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.iv{
    width: calc(100vw / 20);
    height: calc(100vw / 20);
    /* overflow: hidden; */
    z-index: 1;
    border: none;
    /* background-color: red; */
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.iv img{
    width: 100%;
}

/* styling last ball */
.ball:last-child{
    /* background-color: #000031; */
    /* background-color: var(--themeColor1); */
    animation-name: rightBall;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: calc(100vw / 20);
    height: calc(100vw / 20);
    /* overflow: hidden; */
    z-index: 1;
    border: none;
    /* width: calc((100vw / 30) + 1px); */
    /* height: calc((100vw / 30) + 1px); */
}

.ball:last-child img{
    width: 100%;
}

/* styling the line that crosses the lower half of the "e" i.e the last ball of the preloader */
.cross{
    width: calc(100% + 10);
    width: 130%;
    height: 25%;
    background-color: var(--themeColor5);
    z-index: 2;
    position: absolute;
    top: 10px;
    left: -3px;
}

/* styling the arc on the lower half of the "e", i.e. the last ball of the preloader*/
.arc{
    width: calc(100% + 10);
    width: 50%;
    height: 35%;
    background-color: var(--themeColor5);
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 25%;
    border-radius: 0 0 50% 50%;
}

/* animation corresponding to the first ball */
/* where the radius of rotation is 100px */
@keyframes leftBall {
    0% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
    2% {bottom: 0.4px; right: 8.7px; background-color: var(--themeColor1);} /*angle of rotation 5deg*/
    4% {bottom: 1.5px; right: 17.4px; background-color: var(--themeColor1);} /*angle of rotation 10deg*/
    8.75% {bottom: 3.4px; right: 25.9px; background-color: var(--themeColor1);} /*angle of rotation 15deg*/
    15% {bottom: 6px; right: 34.2px; background-color: var(--themeColor1);} /*angle of rotation 20deg*/
    22.5% {bottom: 13.4px; right: 50px;} /*angle of rotation 30deg*/
    27.5% {bottom: 13.4px; right: 50px;} /*angle of rotation 30deg*/
    35% {bottom: 6px; right: 34.2px;} /*angle of rotation 20deg*/
    41.25% {bottom: 3.4px; right: 25.9px;} /*angle of rotation 15deg*/
    45% {bottom: 1.5px; right: 17.4px;} /*angle of rotation 10deg*/
    47% {bottom: 0.4px; right: 8.7px;} /*angle of rotation 5deg*/
    50% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
    100% {bottom: 0; right: 0;} /*angle of rotation 0deg*/

}


/* animation corresponding to the last ball */
@keyframes rightBall {
    0% {bottom: 0; left: 0;}
    50% {bottom: 0; left: 0;}
    53% {bottom: 0.4px; left: 8.7px;}
    55% {bottom: 1.5px; left: 17.4px;}
    58.75% {bottom: 3.4px; left: 25.9px;}
    65% {bottom: 6px; left: 34.2px;}
    72.5% {bottom: 13.4px; left: 50px;}
    77.5% {bottom: 13.4px; left: 50px;}
    85% {bottom: 6px; left: 34.2px;}
    91.25% {bottom: 3.4px; left: 25.9px;}
    95% {bottom: 1.5px; left: 17.4px;}
    98% {bottom: 0.4px; left: 8.7px;}
    100% {bottom: 0; left: 0;}

}


/* NAV STYLING */
header{
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    position: relative;
    /* display: none; */
    /* visibility: hidden; */
}

nav{
    box-sizing: border-box;
    width: 100vw;
    height: 70px;
    padding-top: 20px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--themeColor5);
    position: fixed;
    /* position: unset; */
    z-index: 11;
    /* border-bottom: 1px solid var(--themeColor4); */
    box-shadow: 0px 1px 10px 1px var(--themeColor4);
}

.nav-links{
    display: none;
    list-style: none;
    gap: 15px;
}

.nav-links li{
    padding: 5px 10px;
}

.nav-links li > a{
    text-decoration: none;
    color: var(--themeColor1);
    font-weight: 400;
}

.nav-header{
    text-decoration: none;
    /* font-weight: 700; */
    font-size: 1.8em;
    font-family: pulang;
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.drop-right{
    padding: 0%;
    width: 60px;
    height: 40px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    background-color: none;
    /* border: 1px solid black; */
}

.drop-right img{
    display: fixed;
    transition: 3s ease-in-out;
}

.drop-right div{
    width: 75%;
    height: 2px;
    background-color: var(--themeColor2);
    /* position: fixed; */
    margin: 0;
    padding: 0;
}

#change-theme, #drop-right{
    transition: 1s ease-in;
}

#button-canvas{
    /* border: red solid 1px; */
    width: 30px;
    height: 30px;
}

.drop-right-div{
    position: fixed;
    /* border-top: 1px solid var(--themeColor3); */
    z-index: 10;
    background-color: var(--themeColor5);
    /* background-color: red; */
    top: 0;
    left: 100%;
    right: 0;
    width: 0;
    height: calc(100vh - 68px);
    height: 100vh;
    transition: .5s ease;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 50px 50px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.drop-right-div h2{
    font-size: .8em;
    color: var(--themeColor4);
}

.drop-right-div ul{
    padding: 0%;
    margin: 0%;
}

.drop-right-div ul li{
    list-style: none;
    font-size: 2em;
}

.drop-right-div ul li a{
    text-decoration: none;
    color: var(--themeColor1);
}


/* main styling */
/* main styling */
/* main styling */
main{
    overflow: hidden;
    min-height: calc(100vh - 70px);
    padding: 0 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.main-wrapper{
    display: flex;
    flex-flow: column;
    height: max-content;
    max-width: fit-content;
}

.main-heading{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: var(--themeColor2);
    font-family: poppins;
    font-weight: 400;
    height: max-content;
}

.setup-text{
    /* font-weight: 200; */
    font-size: .5em;
    color: var(--themeColor1);
}

.follow-up-text{
    font-size: 0.8em;
    color: var(--themeColor1);
}

.my-name{
    display: flex;
    font-size: 1.2em;
}

.name-letters{
    margin: 0;
    padding: 0;
}

.about-me{
    color: var(--themeColor2);
    font-family: poppins;
    font-size: .8em;
    max-width: 450px;
    /* visibility: hidden; */
    /* background-color: red; */
}

.contact-me{
    margin: 20px 0;
    font-family: poppins;
    padding: 10px 30px;
    width: 200px;
    border-radius: 4px;
    border: none;
    color: var(--themeColor1);
    /* border: 1px solid var(--themeColor2); */
    background-color: transparent;
    box-shadow: var(--boxShadow);
    /* filter: var(--dropShadow); */
    text-decoration: none;
    /* font-size: .9em; */
    box-sizing: border-box;
}

.scroll-indicator{
    position: absolute;
    font-weight: 300;
    font-size: .8em;
    color: var(--themeColor1);
    position: absolute;
    bottom: 50px;
    right: -15px;
    transform: rotateZ(90deg);
    animation-name: scrollDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scrollDown {
    0% {bottom: 50px;}
    50% {bottom: 80px;}
    100% {bottom: 50px;}
}

#main-canvas{
    position: absolute;
    top: -70px;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    /* background-color: red; */
    z-index: -1;
    /* display: none; */
}

/* skills section styling */
/* skills section styling */
/* skills section styling */
#skills-section{
    border-top: 1px solid var(--themeColor4);
    padding: 30px 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 25px;
}

.skills-heading{
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--themeColor1);
    box-sizing: border-box;
    font-weight: 400;
    font-size: x-large;
}


.card-wrapper{
    display: grid;
    align-content: center;
    gap: 25px;
    grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr));
}

.card{
    background-color: var(--inputColor2);
    text-decoration: none;
    border-radius: 15px;
    color: unset;
    width: 100%;
    height: 450px;
    max-height: 400px;
    display: flex;
    flex-flow: column;
    max-width: 400px;
    /* box-shadow: var(--boxShadow); */
    filter: var(--dropShadow);
    position: relative;
    margin-inline: auto;
}

.card-image-wrapper{
    width: 100%;
    min-height: 60%;
    background-color: var(--themeColor2);
    color: var(--themeColor4);
    text-transform: uppercase;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.card-image{
    width: 100%;
    /* width: 400px; */
    height: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    /* filter: grayscale(80%); */
}

#circuit-image{
    object-position: 20% 70%;
}

#css-battle{
    object-position: 100% 60%;
}

.card-text-wrapper{
    padding: 0 20px;
    box-sizing: border-box;
    height: 40%;
    min-height: fit-content;
    background-color: var(--inputColor2);
    border-radius: 0 0 15px 15px;
    z-index: 2;
}


.card-title{
    margin: 0 0 10px;
    padding: 0;
    color: var(--themeColor1);
}

.card-text{
    margin: 0;
    font-size: .9em;
    color: var(--themeColor2);
}

.card-styling{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.card-emoji{
    font-size:20px;
}

#sun-emoji{
    display: none;
}


/* stack section */
/* stack section */
/* stack section */
#stack-section{
    border-top: 1px solid var(--themeColor4);
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    color: var(--themeColor1);
    justify-content: flex-start;
    flex-flow: row wrap;
    /* gap: 25px; */
}

.stack-column{
    width: 100%;
    max-height: fit-content;
    min-height: 50vh;
    display: flex;
    flex-flow: column;
    /* position: relative; */
    /* max-width: 400px; */
    /* box-shadow: var(--boxShadow); */
    /* filter: drop-shadow( var(--dropShadow) ); */
}

.stack-heading{
    /* font-weight: 600; */
    font-size: 20px;
    margin: 0;
    padding: 30px;
    color: var(--themeColor2);
    background-color: var(--themeColor5);
    /* background-color: red; */
    box-shadow: -5px 5px 5px 1px var(--themeColor4);
    /* box-shadow: 0 2px 2px 2px var(--themeColor3); */
    z-index: 1;
}

.stack-heading em{
    font-weight: 300;
}

#canvas-size-guide{
    background-color: transparent;
    /* background-color: red; */
    width: 100%;
    height: 100%;
    height: calc(100vh - 200px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    visibility: visible;
    position: relative;
    z-index: -1;
}

#stack-canvas{
    padding: 0;
    margin: 0;
    position: absolute;
    top: -10px;
    overflow: hidden;
    border-bottom: 1px solid var(--themeColor4);
    /* left: -10px; */
    box-sizing: border-box;
    /* z-index: ; */
    /* display: none; */
}

.stack-desktop{
    display: none;
}


/* contact section styling */
/* contact section styling */
/* contact section styling */
.stack-contact-wrapper{
    display: flex;
    min-height: 50vh;
    width: 100vw;
    box-sizing: border-box;
    flex-flow: column-reverse;
    padding-top: 10px;
    margin-bottom: 40px;
    /* position: relative; */
}

#contact-section{
    z-index: 2;
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
    color: var(--themeColor1);
    /* border-top: 1px solid var(--themeColor4); */
    background-color: var(--themeColor5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start; */
}

#contact-section-wrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
    color: var(--themeColor1);
    background-color: var(--themeColor5);
    /* padding-block: 100px; */
}

.contact-heading{
    font-size: 1.7em;
    color: var(--themeColor1);
    margin: 0;
    display: flex;
}

.contact-rule{
    background-color: var(--themeColor1);
    height: 3px;
    width: 250px;
    border: 0;
    margin: 10px 0;
}

.contact-paragraph{
    color: var(--themeColor2);
    width: min(600px, 100%);
    font-size: .9em;
    text-align: left;
}

#contact-form{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 55px;
}

#input-subject{
    /* start from row 1 and column 1, span 1 row and 2 columns */
    grid-area: 3 / 1 / span 1 / span 1;
}

#input-message{
    /* start from row 1 and column 1, span 1 row and 2 columns */
    grid-area: 4 / 1 / span 3 / span 1;
}

#contact-form input, #contact-form textarea{
    padding: 15px 10px;
    font-family: poppins;
    border: 1px solid var(--themeColor1);
    border-radius: 2px;
    background-color: var(--inputColor2);
    color: var(--themeColor1);
    resize: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--themeColor1);
  -webkit-text-fill-color: var(--themeColor1);
  box-shadow: 0 0 0px 1000px var(--inputColor2) inset;
}

#contact-form input::placeholder, #contact-form textarea::placeholder{
    color: var(--themeColor2);
    font-size: 1.1em;
    text-transform: capitalize;
    font-family: poppins;
}

#contact-form button{
    padding: 10px;
    font-family: poppins;
    font-size: 1.2em;
    background-color: var(--themeColor1);
    color: var(--themeColor5);
    border: none;
    border-radius: 2px;
}



/* FOOTER STYLING *//* FOOTER STYLING *//* FOOTER STYLING */
/* FOOTER STYLING *//* FOOTER STYLING *//* FOOTER STYLING */
/* FOOTER STYLING *//* FOOTER STYLING *//* FOOTER STYLING */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
    background-color: var(--inputColor2);
    z-index: 2;
    position: relative;
    /* background-color: red; */
}

.footer-wrapper{
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 30px; */
    flex-flow: column;
}

#footer-logo{
    width: 150px;
    margin: 50px 0;
}

.footer-logo{
    width: 150px;
    display: none;
    position: absolute;
}

.footer-text-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.quick-links{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.quick-links > h4{
    font-size: 1.3rem;
    margin: 10px;
    color: var(--themeColor1);
}
.quick-links > a{
    padding: 5px;
    margin-block: 5px;
    /* text-decoration: none; */
    color: var(--themeColor1);
    transition: ease-in 1s;
}

.quick-links > a:hover{
    font-size: 1.2rem;
}

.footer-ruler{
    height: 4px;
    width: 100%;
    background-color: var(--themeColor1);
}

.closing-remarks{
    display: flex;
    flex-flow: column;
    color: var(--themeColor1);
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* end of footer styling *//* end of footer styling */
/* end of footer styling *//* end of footer styling */
/* end of footer styling *//* end of footer styling */


/* custom selection */
::selection{
    background-color: var(--themeColor1);
    color: var(--themeColor5);
}

/* custom scrollbar */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 50%;
    margin: 30px 0;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--themeColor2);
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid var(--themeColor4);
    width: 100%;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--themeColor1);
}

#cursor{
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 2;
    border-radius: 50%;
    background-color: var(--themeColor1);
    top: calc(50vh - 40px);
    left: calc(50vw - 40px);
    display: none;
}

/* MEDIA QUERY *//* MEDIA QUERY */
/* MEDIA QUERY *//* MEDIA QUERY */
/* MEDIA QUERY *//* MEDIA QUERY */
/* MEDIA QUERY *//* MEDIA QUERY */
/* MEDIA QUERY *//* MEDIA QUERY */
/* MEDIA QUERY *//* MEDIA QUERY */

/* preloader media query */
@media only screen and (min-width: 700px)  {
    /* styling first ball */
    .ball:first-child, .ball:last-child{
        animation-duration: 1.25s;
    }

    /* animation corresponding to the first ball */
    /* where the radius of rotation is 200px */
    @keyframes leftBall {
        0% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
        2% {bottom: 0.8px; right: 17.4px; background-color: var(--themeColor1);} /*angle of rotation 5deg*/
        4% {bottom: 3px; right: 34.7px; background-color: var(--themeColor1);} /*angle of rotation 10deg*/
        8.75% {bottom: 6.8px; right: 51.8px; background-color: var(--themeColor1);} /*angle of rotation 15deg*/
        15% {bottom: 12px; right: 68.4px; background-color: var(--themeColor1);} /*angle of rotation 20deg*/
        22.5% {bottom: 26.8px; right: 100px;} /*angle of rotation 30deg*/
        27.5% {bottom: 26.8px; right: 100px;} /*angle of rotation 30deg*/
        35% {bottom: 12px; right: 68.4px;} /*angle of rotation 20deg*/
        41.25% {bottom: 6.8px; right: 51.8px;} /*angle of rotation 15deg*/
        45% {bottom: 3px; right: 34.7px;} /*angle of rotation 10deg*/
        47% {bottom: 0.8px; right: 17.4px;} /*angle of rotation 5deg*/
        50% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
        100% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
    }

    
    /* animation corresponding to the last ball */
    @keyframes rightBall {
        0% {bottom: 0; left: 0;}
        50% {bottom: 0; left: 0;}
        53% {bottom: 0.8px; left: 17.4px;}
        55% {bottom: 3px; left: 34.8px;}
        58.75% {bottom: 6.8px; left: 51.8px;}
        65% {bottom: 12px; left: 68.4px;}
        72.5% {bottom: 26.8px; left: 100px;}
        77.5% {bottom: 26.8px; left: 100px;}
        85% {bottom: 12px; left: 68.4px;}
        91.25% {bottom: 6.8px; left: 51.8px;}
        95% {bottom: 3px; left: 34.8px;}
        98% {bottom: 0.8px; left: 17.4px;}
        100% {bottom: 0; left: 0;}

    }
}

@media only screen and (min-width: 1500px)  {
    /* styling first ball */
    .ball:first-child, .ball:last-child{
        animation-duration: 1.25s;
    }

    /* animation corresponding to the first ball */
    /* where the radius of rotation is 400px */
    @keyframes leftBall {
        0% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
        2% {bottom: 1.6px; right: 34.8px; background-color: var(--themeColor1);} /*angle of rotation 5deg*/
        4% {bottom: 6px; right: 69.4px; background-color: var(--themeColor1);} /*angle of rotation 10deg*/
        8.75% {bottom: 13.6px; right: 103.6px; background-color: var(--themeColor1);} /*angle of rotation 15deg*/
        15% {bottom: 24px; right: 136.8px; background-color: var(--themeColor1);} /*angle of rotation 20deg*/
        22.5% {bottom: 53.6px; right: 200px;} /*angle of rotation 30deg*/
        27.5% {bottom: 53.6px; right: 200px;} /*angle of rotation 30deg*/
        35% {bottom: 24px; right: 136.8px;} /*angle of rotation 20deg*/
        41.25% {bottom: 13.6px; right: 103.6px;} /*angle of rotation 15deg*/
        45% {bottom: 6px; right: 69.4px;} /*angle of rotation 10deg*/
        47% {bottom: 1.6px; right: 34.8px;} /*angle of rotation 5deg*/
        50% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
        100% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
    }

    
    /* animation corresponding to the last ball */
    @keyframes rightBall {
        0% {bottom: 0; left: 0;}
        50% {bottom: 0; left: 0;}
        53% {bottom: 1.6px; left: 34.8px;}
        55% {bottom: 6px; left: 69.4px;}
        58.75% {bottom: 13.6px; left: 103.6px;}
        65% {bottom: 24px; left: 136.8px;}
        72.5% {bottom: 53.6px; left: 200px;}
        77.5% {bottom: 53.6px; left: 200px;}
        85% {bottom: 24px; left: 136.8px;}
        91.25% {bottom: 13.6px; left: 103.6px;}
        95% {bottom: 6px; left: 69.4px;}
        98% {bottom: 1.6px; left: 34.8px;}
        100% {bottom: 0; left: 0;}

    }
}

/* FOR THE CONTACT FORM */
@media only screen and (min-width: 600px)  {
    
    #contact-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 55px 55px 55px 55px 55px 55px;
        gap: 20px;
        margin-right: 80px;
        width: 100%;
    }

    #stack-canvas{
        border-bottom: none;
    }

    .contact-heading span{
        margin-right: 4px;
        font-size: 1.7em;
        text-shadow: 0 0 3px var(--themeColor5);
    }

    @supports (-webkit-text-stroke: 1px var(--themeColor1)) {
        .contact-heading span{
          -webkit-text-stroke: 2px var(--themeColor1);
          -webkit-text-fill-color: var(--themeColor5);
        }

        /* .contact-paragraph{
          -webkit-text-stroke: 2px var(--themeColor5);
          -webkit-text-fill-color: var(--themeColor1);
        } */
    }

    .contact-paragraph{
        color: var(--themeColor1);
        font-size: 1.2em;
        /* max-width: 600px; */
        text-align: left;
        /* font-weight: 400; */
        margin-block: 40px;
        text-shadow: 0 0 2px var(--themeColor5);
        /* background-color: var(--themeColor5); */
    }

    
    #contact-section > #contact-section-wrapper > div{
        width: 100%;
    }
    
    #input-message{
        /* start from row 1 and start from row 2, span 4 row and span 1 column */
        grid-area: 3 / 1 / span 3 / span 2;
    }
    
    #input-subject{
        /* start from row 1 and column 2, span 2 row and 1 columns */
        grid-area: 1 / 2 / span 2 / span 1;
    }
    
    #contact-submit{
        /* start from row 1 and column 1, span 1 row and 2 columns */
        grid-area: 6 / 1 / span 1 / span 2;
    }

    .stack-contact-wrapper{
        position: relative;
    }

    #contact-section{
        position: absolute;
        z-index: 1;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        border: none;
    }
    
    #contact-section-wrapper{
        background-color: transparent;
        padding-inline: 20%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        top: 100px;
        border: none;
    }

    .stack-desktop{
        display: block;
    }

    .stack-mobile{
        display: none;
    }

    #stack-section{
        border-top: none;
    }

    footer{
        box-shadow: 0px -5px 5px 1px var(--themeColor4);
        background-color: var(--themeColor5);
    }
}

@media only screen and (min-width: 768px)  {
    
    /* nav media query for main */
    main{
        padding: 0 40px;
    }

    .setup-text{
        font-size: 1em;
    }
    
    .my-name{
        display: flex;
        font-size: 2em;
    }

    
    .follow-up-text{
        font-size: 1em;
    }

    .about-me{
        font-size: 1em;
    }

    .contact-me{
        padding: 15px 30px;
        font-size: 1.2em;
    }

    
    .name-letters{
        margin-right: 5px;
    }

    
    .footer-text-wrapper{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-wrapper{
        width: 70%;
    }
    
    .quick-links:first-child{
        align-items: flex-start;
    }

    .quick-links:last-child{
        align-items: flex-end;
    }
    
    .quick-links > h4{
        margin-inline: 0;
    }
    
    footer{
        min-height: max-content;
    }
}

/* nav media query for navigation */
@media only screen and (min-width: 820px)  {
    nav{
        padding: 0 20px;
    }

    .nav-links{
        display: flex;

    }

    #drop-right-panel{
        display: none;
    }

    .nav-icons{
        gap: 0px;
    }

}

/* for conatct and stack section*/
@media only screen and (min-width: 1000px)  {

    .scroll-indicator{
        font-weight: 500;
        font-size: 1.2em;
    }
    
    .footer-wrapper{
        width: 40%;
    }

    .footer-text-wrapper{
        margin-top: 50px;
    }
    
    #footer-logo{
        display: none;
    }

    .footer-logo{
        display: block;
        position: absolute;
        left: 50px;
        top: 50px;
    }

    .stack-contact-wrapper{
        display: flex;
        flex-flow: column-reverse;
        gap: 0;
        justify-content: center;
        align-items: flex-start;
        /* border-top: 1px solid var(--themeColor4); */
        /* padding: 0 5%; */
        margin-bottom: 0;
    }

    .quick-links > h4{
        font-size: 1.5rem;
    }

    .quick-links > a{
        font-size: 1.2rem;
    }

    
    .quick-links > a:hover{
        font-size: 1.3rem;
    }


    #stack-section{
        width: 100vw;
        height: 100vh;
        border: none;
    }
    
    #contact-section{
        width: 100vw;
        height: 100vh;
        border: none;
        padding-inline: 25%;
    }

    #contact-section-wrapper{
        width: 100vw;
        height: 100vh;
        border: none;
        padding-inline: 10%;
    }

    #contact-form{
        margin-right: 60px;
    }

    .contact-paragraph{
        font-size: 1.5em;
    }

    #stack-canvas{
        box-shadow: inset -5px -5px 5px 1px var(--themeColor4);
    }
    
    #canvas-size-guide{
        height: 100%;
        visibility: visible;
    }

    nav{
        padding: 0 40px;
    }
}