:root{
    --themeColor1 : #262626;
    --themeColor2 : #595959;
    --themeColor3 : #737373;
    --themeColor4 : #A6A6A6;
    --themeColor5 : #F2F2F2;
    --darkInput : #2c2c2c;
    --lightInput : #f8f8f8;
    --boxShadow: 1px 1px 2px 2px var(--themeColor4);
    --dropShadow: drop-shadow(2.5px 2.5px 5px var(--themeColor4));
/* } */
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-family: poppins;
    background-color: var(--themeColor5);
}

/* Preloader div styling */
#preloader{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: var(--color2); */
    /* position: fixed; */
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 100;
    background-color: var(--themeColor5);
}

/* parent div of the animating balls in the preloader */
.ball-wrapper{
    display: flex;
    gap: 0.2px;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/* preloader animated balls */
/* preloader animated balls */
/* preloader animated balls */
/* preloader animated balls */

.ball{ /*general css of all the balls*/
    width: calc(100vw / 28);
    height: calc(100vw / 28);
    border: 2px solid var(--themeColor1);
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
}

/* styling first ball */
.ball:first-child{
    /* background-color: ; */
    animation-name: leftBall;
    width: calc(100vw / 20);
    height: calc(100vw / 20);

    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* styling exclusive to the "v" and "i" of the preloader*/
.ball:nth-child(2), .ball:nth-child(3){
    margin-top: 7.5px;
}

/* stylig specific to the v, in order to get the desired "v" shape */
.ball:nth-child(2){
    width: 0;
    height: 0;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border-radius: 0;
    border-top-width: calc(100vw / 30);
    border-right-width: calc(100vw / 50);
    border-left-width: calc(100vw / 50);
    border-bottom-width: 0;
    border-color: var(--themeColor1) transparent transparent transparent;
    border-style: solid;
}

/* stylig specific to the "i", in order to get the desired "i" shape */
.ball:nth-child(3){
    margin-right: 2.5px;
    width: 2.5px;
    box-sizing: border-box;
    padding: 0;
    background-color: var(--themeColor1); 
    border-left: none;
    border-radius: 1px;
}

/* styling last ball */
.ball:last-child{
    /* background-color: #000031; */
    /* background-color: var(--themeColor1); */
    animation-name: rightBall;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: calc(100vw / 20);
    height: calc(100vw / 20);
    /* overflow: hidden; */
    z-index: 1;
    border: none;
    /* width: calc((100vw / 30) + 1px); */
    /* height: calc((100vw / 30) + 1px); */
}

.ball:last-child img{
    width: 100%;
}

/* styling the line that crosses the lower half of the "e" i.e the last ball of the preloader */
.cross{
    width: calc(100% + 10);
    width: 130%;
    height: 25%;
    background-color: var(--themeColor5);
    z-index: 2;
    position: absolute;
    top: 10px;
    left: -3px;
}

/* styling the arc on the lower half of the "e", i.e. the last ball of the preloader*/
.arc{
    width: calc(100% + 10);
    width: 50%;
    height: 35%;
    background-color: var(--themeColor5);
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 25%;
    border-radius: 0 0 50% 50%;
}

/* animation corresponding to the first ball */
/* where the radius of rotation is 100px */
@keyframes leftBall {
    0% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
    2% {bottom: 0.4px; right: 8.7px; background-color: var(--themeColor1);} /*angle of rotation 5deg*/
    4% {bottom: 1.5px; right: 17.4px; background-color: var(--themeColor1);} /*angle of rotation 10deg*/
    8.75% {bottom: 3.4px; right: 25.9px; background-color: var(--themeColor1);} /*angle of rotation 15deg*/
    15% {bottom: 6px; right: 34.2px; background-color: var(--themeColor1);} /*angle of rotation 20deg*/
    22.5% {bottom: 13.4px; right: 50px;} /*angle of rotation 30deg*/
    27.5% {bottom: 13.4px; right: 50px;} /*angle of rotation 30deg*/
    35% {bottom: 6px; right: 34.2px;} /*angle of rotation 20deg*/
    41.25% {bottom: 3.4px; right: 25.9px;} /*angle of rotation 15deg*/
    45% {bottom: 1.5px; right: 17.4px;} /*angle of rotation 10deg*/
    47% {bottom: 0.4px; right: 8.7px;} /*angle of rotation 5deg*/
    50% {bottom: 0; right: 0;} /*angle of rotation 0deg*/
    100% {bottom: 0; right: 0;} /*angle of rotation 0deg*/

}

/* animation corresponding to the last ball */
@keyframes rightBall {
    0% {bottom: 0; left: 0;}
    50% {bottom: 0; left: 0;}
    53% {bottom: 0.4px; left: 8.7px;}
    55% {bottom: 1.5px; left: 17.4px;}
    58.75% {bottom: 3.4px; left: 25.9px;}
    65% {bottom: 6px; left: 34.2px;}
    72.5% {bottom: 13.4px; left: 50px;}
    77.5% {bottom: 13.4px; left: 50px;}
    85% {bottom: 6px; left: 34.2px;}
    91.25% {bottom: 3.4px; left: 25.9px;}
    95% {bottom: 1.5px; left: 17.4px;}
    98% {bottom: 0.4px; left: 8.7px;}
    100% {bottom: 0; left: 0;}

}


/* NAV STYLING */
header{
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    position: relative;
}

nav{
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding-top: 20px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--themeColor5);
    position: fixed;
    /* position: unset; */
    z-index: 11;
    /* border-bottom: 1px solid var(--themeColor4); */
    box-shadow: 0px 1px 10px 1px var(--themeColor4);
}

.nav-links{
    display: none;
}

.nav-header{
    text-decoration: none;
    /* font-weight: 700; */
    font-size: 1.8em;
    font-family: pulang;
}

.nav-icons{
    display: flex;
    gap: 10px;
}

.drop-right{
    padding: 0%;
    width: 60px;
    height: 40px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    background-color: none;
    /* border: 1px solid black; */
}

.drop-right img{
    display: fixed;
    transition: 3s ease-in-out;
}

.drop-right div{
    width: 75%;
    height: 2px;
    background-color: var(--themeColor2);
    /* position: fixed; */
    margin: 0;
    padding: 0;
}

#button-canvas{
    /* border: red solid 1px; */
    width: 30px;
    height: 30px;
}

.drop-right-div{
    position: fixed;
    /* border-top: 1px solid var(--themeColor3); */
    z-index: 10;
    background-color: var(--themeColor5);
    /* background-color: red; */
    top: 0;
    left: 100%;
    right: 0;
    width: 0;
    height: calc(100vh - 68px);
    height: 100vh;
    transition: .5s ease;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 50px 50px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.drop-right-div h2{
    font-size: .8em;
    color: var(--themeColor4);
}

.drop-right-div ul{
    padding: 0%;
    margin: 0%;
}

.drop-right-div ul li{
    list-style: none;
    font-size: 2em;
}

.drop-right-div ul li a{
    text-decoration: none;
    color: var(--themeColor1);
}


/* main styling */
/* main styling */
/* main styling */
main{
    padding: 0 20px;
    display: flex;
    flex-flow: column;
    position: relative;
    overflow-x: hidden;
    /* background-color: red; */
    min-height: calc(100vh - 70px);
}

.main-heading{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: var(--themeColor2);
    font-family: poppins;
    font-weight: 400;
    height: 400px;
}

.setup-text{
    /* font-weight: 200; */
    font-size: .5em;
    color: var(--themeColor1);
}

.follow-up-text{
    font-size: 0.8em;
    color: var(--themeColor1);
}
.my-name{
    display: flex;
    font-size: 1.2em;
}

.name-letters{
    margin: 0;
    padding: 0;
}

.about-me{
    color: var(--themeColor2);
    font-family: poppins;
    font-size: .8em;
    max-width: 500px;
    /* visibility: hidden; */
    /* background-color: red; */
}

.contact-me{
    margin: 20px 0;
    font-family: poppins;
    padding: 10px 30px;
    width: 200px;
    border-radius: 4px;
    border: none;
    color: var(--themeColor1);
    /* border: 1px solid var(--themeColor2); */
    background-color: transparent;
    box-shadow: var(--boxShadow);
    /* filter: var(--dropShadow); */
    text-decoration: none;
    /* font-size: .9em; */
    box-sizing: border-box;
}

.scroll-indicator{
    position: absolute;
    font-weight: 300;
    font-size: .8em;
    color: var(--themeColor1);
    position: absolute;
    bottom: 30px;
    left: -10px;
    transform: rotateZ(90deg);
    animation-name: scrollDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scrollDown {
    0% {bottom: 30px;}
    50% {bottom: 50px;}
    100% {bottom: 30px;}
}

#main-canvas{
    position: absolute;
    top: -70px;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    /* background-color: red; */
    z-index: -1;
    /* display: none; */
}

/* skills section styling */
/* skills section styling */
/* skills section styling */
#skills-section{
    border-top: 1px solid var(--themeColor4);
    padding: 30px 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 25px;
}

.skills-heading{
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--themeColor2);
    box-sizing: border-box;
    font-weight: 400;
    font-size: x-large;
}

.card{
    background-color: var(--lightInput);
    text-decoration: none;
    border-radius: 15px;
    color: unset;
    width: 100%;
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-flow: column;
    max-width: 400px;
    /* box-shadow: var(--boxShadow); */
    filter: var(--dropShadow);
    position: relative;
}

.card-image-wrapper{
    width: 100%;
    min-height: 65%;
    background-color: var(--themeColor2);
    color: var(--themeColor4);
    text-transform: uppercase;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.card-image{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    /* filter: grayscale(100%); */
}

.card-text-wrapper{
    padding: 0 20px;
    box-sizing: border-box;
    height: 35%;
    background-color: var(--lightInput);
    border-radius: 0 0 15px 15px;
    z-index: 2;
}


.card-title{
    margin: 0 0 10px;
    padding: 0;
    color: var(--themeColor1);
}

.card-text{
    margin: 0;
    font-size: .9em;
    color: var(--themeColor2);
}

.card-styling{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}



/* contact section styling */
/* contact section styling */
/* contact section styling */
#contact-section{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
    color: var(--themeColor1);
    border-top: 1px solid var(--themeColor4);
    /* display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start; */
}

.contact-heading{
    font-size: 1.7em;
    color: var(--themeColor1);
    margin: 0;
    display: flex   ;
}

.contact-rule{
    background-color: var(--themeColor1);
    height: 3px;
    width: 250px;
    border: 0;
    margin: 10px 0;
}

.contact-paragraph{
    color: var(--themeColor2);
    font-size: .9em;
}

#contact-form{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

#contact-form input, #contact-form textarea{
    padding: 15px 10px;
    font-family: poppins;
    background-color: var(--lightInput);
    border: 1px solid var(--themeColor1);
    border-radius: 2px;
    color: var(--themeColor1);
}

#contact-form input::placeholder, #contact-form textarea::placeholder{
    color: var(--themeColor4);
    font-size: 1.1em;
    text-transform: capitalize;
    font-family: poppins;
}

#contact-form button{
    padding: 10px;
    font-family: poppins;
    font-size: 1.2em;
    background-color: var(--themeColor1);
    color: var(--themeColor5);
    border: none;
    border-radius: 2px;
}


/* FOOTER STYLING *//* FOOTER STYLING *//* FOOTER STYLING */
/* FOOTER STYLING *//* FOOTER STYLING *//* FOOTER STYLING */
/* FOOTER STYLING *//* FOOTER STYLING *//* FOOTER STYLING */
footer{
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 30PX;
    border-top: 1px solid var(--themeColor3);
}

.footer-wrapper{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer-icons{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-icons li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-icons li a{
    text-decoration: none;
    color: var(--themeColor1);
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-icons li img{
    width: 20px;
}

.footer-text{
    font-size: .8em;
    color: var(--themeColor2);
}

#footer-text{
    font-size: .7em;
    color: var(--themeColor2);
}